
/* ==================================
   HEADER PERSONALIZADO ADMIN
================================== */
.contenido-admin{

    min-height: 100vh;
}

.admin-header , .contenido-admin{

 
    background:
        radial-gradient(circle at top left, rgba(0,255,170,.08), transparent 30%),
        radial-gradient(circle at bottom right, rgba(0,255,170,.05), transparent 30%),
        #07110d;
    box-shadow:
        0 10px 25px rgba(25,135,84,.25);

    position:relative;

    overflow:hidden;

}






.icon-admin{

    width:75px;

    height:75px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    border-radius:50%;

    background:rgba(255,255,255,.2);

    backdrop-filter:blur(5px);

}



.icon-admin i{

    font-size:38px;

    color:white;

}

/* Espacio para el sidebar */
.accesos{
       margin-left: 280px; /* sidebar desktop */

    padding: 25px;

  
    color: #fff;
}

/* Tablets y celulares */
@media (max-width: 991.98px){

    .accesos{
        margin-left: 80px;
        padding: 15px;
    }

}
/* =====================================
   CARDS PRINCIPALES
===================================== */


.card-conectados{

    border:0;

    border-left:6px solid #198754;

    background:white;

    transition:.3s;

}


.card-historial{

    border:0;

    border-left:6px solid #0d6efd;

    background:white;

    transition:.3s;

}



.card-conectados:hover,
.card-historial:hover{

    transform:translateY(-5px);

    box-shadow:0 12px 25px rgba(0,0,0,.12)!important;

}



/* =====================================
   USUARIOS CONECTADOS
===================================== */





/* =====================================
   NOTIFICACIONES
===================================== */


.notificacion{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    border-radius:18px;

    background:#fff;

    transition:.3s;

}



.notificacion:hover{

    transform:translateX(5px);

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.icon-noti{

    width:50px;

    height:50px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

    font-size:22px;

}



/* Bordes de cada alerta */


.noti-success{

    border-left:5px solid #198754;

}


.noti-warning{

    border-left:5px solid #ffc107;

}


.noti-danger{

    border-left:5px solid #dc3545;

}


.noti-primary{

    border-left:5px solid #0d6efd;

}