:root{
    --bg:#04120f;
    --card:#0b1f1b;
    --glass:rgba(255,255,255,.03);
    --border:rgba(255,255,255,.08);

    --primary:#0fd38a;
    --warning:#f59e0b;
    --danger:#ef4444;

    --text:#f5f7f7;
    --muted:#8ca39b;
}

body{
    min-height:100vh;
    background:
        radial-gradient(circle at top left,
        rgba(0,255,150,.10),
        transparent 30%),

        radial-gradient(circle at top right,
        rgba(0,255,150,.08),
        transparent 25%),

        linear-gradient(
        135deg,
        #020b09,
        #041511,
        #010606
        );

    color:var(--text);

}



    .movimientos-container {
        background-color: #2e703779; 
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
        border: 1px solid #06bb51;
        color: #e0f2f1;
    }


.contenido{

   margin-left: 280px;
    min-height: 100vh;
    padding: 30px;

    background:
        radial-gradient(circle at top left,
        rgba(0,255,170,.08),
        transparent 35%),

        radial-gradient(circle at bottom right,
        rgba(0,255,170,.05),
        transparent 35%),

        #07110d;
}


/* =========================
   TABLET
========================= */
@media (max-width: 991.98px){

   
    .contenido{
        margin-left: 80px;
        padding: 20px;
    }
}



.panel-header{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:20px;

}

.panel-title{

    color:#fff;

    font-size:2rem;

    font-weight:600;

    margin:0;

}


    
.movimientos-table table.table {
    background-color: #29633f;
    color: #e0f2f1;
}

.movimientos-table table.table  {
    background-color: #1a3324 !important;
    color: #8ab4b0 !important;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #314f2e;
    padding: 14px 12px;
}



.cobro-container{
background-color: #13471a; 
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
        border: 1px solid #ffffff;
        color: #ffffff;
}

.pago-container{
background-color: #15b2c779; 
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
        border: 1px solid #31d3f0;
        color: #e0f2f1;
}

.egreso-container{
    background-color: #e6bd0bc5; 
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
        border: 1px solid #000000;
        color: #e0f2f1;
}